
.container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}


.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: 700;
}


.loading, .error {
  color: #e74c3c;
  font-size: 1rem;
  text-align: center;
}

.ifsc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}


.ifsc-input {
  padding: 15px 20px;
  font-size: 18px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 50px;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.ifsc-input:focus {
  border-color: #3498db;
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.2);
  transform: scale(1.05);
}


.ifsc-button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 300px;
}


.ifsc-button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}


.ifsc-button:active {
  transform: translateY(1px);
  background-color: #1c6693;
}


.list-item {
  cursor: pointer;
  color: #3498db;
  padding: 12px;
  margin: 8px 0;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: 0.3s ease;
  text-align: center;
}


.list-item:hover {
  background-color: #3498db;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bank-details {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.bank-details p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.bank-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}


.error {
  font-size: 16px;
  color: #e74c3c;
  text-align: center;
  font-weight: bold;
}


.container * {
  transition: all 0.3s ease;
}
