.navbar {
    padding: 10px 20px;
    background: linear-gradient(90deg, #4CAF50, #81C784);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer; 
  }
  
  
  .logo:hover {
    color: sandybrown; 
    transform: rotate(360deg) scale(0.9);  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  }
  

  .logo:active {
    transform: scale(1.05); 
    color: #FF6347; 
  }
  
  
 
  .fetch-button {
    background-color: #4b0082;
    color: white;
    padding: 12px 24px; 
    font-size: 1.2rem; 
    border: 2px solid transparent; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .fetch-button:hover {
    background-color: #6a0dad; 
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    border: 2px solid #fff; 
    color: aquamarine;
  }
  
  
  .fetch-button:active {
    transform: scale(0.98); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    border: 2px solid #fff; 
  }
  

  .fetch-button:focus {
    outline: none; 
    box-shadow: 0 0 10px 2px rgba(0, 0, 255, 0.5); 
  }
  
 
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.3s;
  }
  
  .hamburger:hover div {
    transform: rotate(15deg);
  }
  
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: linear-gradient(90deg, #4CAF50, #81C784);
      text-align: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  
    .navbar.active .menu {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  
   
    .fetch-button {
      margin: 15px 0;
      padding: 14px 28px; 
      font-size: 1.1rem;
      width: 100%;
      text-align: center;
    }
  }
  